.emptyCartdata {
  padding: 0 !important;
}

.emptyCartMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emptyCartMessage p {
  margin-top: 30px;
  font-size: 22px;
}

.goShopping {
  /* color: blue !important; */
  font-weight: 600 !important;
}

.goShopping:hover {
  opacity: 70%;
}

.quantityBtn {
  height: 39px;
  border: 1px solid #9f9f9f;
  padding: 5px;
  width: 41px;
  background: transparent;
  border-radius: 12px;
}

.deleteBtn {
  background-color: transparent;
  border: none;
}

/* ========== Product Info Styles ========== */

.productImg {
  width: 50px;
  margin-right: 10px;
}

/* ========== Responsive Styles ========== */
@media (max-width: 768px) {
  .productImgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(211, 206, 206);
    padding-bottom: 12px !important;
  }

  td {
    padding: 0 !important;
  }

  table td::before {
    content: attr(data-title) ": ";
    font-weight: bold;
  }

  table td:first-child::before {
    content: none;
  }

  table thead tr {
    display: none;
  }
  table tr {
    display: flex;
    flex-direction: column;
    align-items: end;
    border: 1px solid rgb(211, 206, 206);
    margin-bottom: 20px;
    width: 100%;
    padding: 0 10px;
  }

  table td,
  table th {
    padding: 6px !important;
  }

  table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
